extends layout
block main
  h1(id="project-title")=testBoard.title
  a(href="/new-ticket")
    button(class="project-btn" id="new-ticket") + Create ticket
  form(action="/dashboard/clear", method="post") 
    button(id="clear-btn" name="tickets" value="clear") Clear board
  table
    thead
      tr#board-header
        th(colspan=6) My Dashboard
      tr#maincolumn-header
        th(class="column") To-do
        th(class="column") In-progress
        th(class="column") Review
        th(class="column") Testing
        th(class="column") Monitoring
        th(class="column") Done
    tbody.fade-in
      each column in testBoard.columns
        if column.tickets.length > 0
          td
            ul
              each ticket in column.tickets
                li(class="ticket")
                  a(href="/dashboard")
                    form(class="arrow" action="/regress", method="post") 
                      input(type="hidden" name="ticketTitle", value=`${ticket.title}`)
                      button(class="move left" disabled=ticket.status === testBoard.columns[0].title)="<"
                  a(id="ticket-title" href=`/ticket/${ticket.id}`)=ticket.title
                  a(href="/dashboard")
                    form(class="arrow" action="/progress", method="post") 
                      input(type="hidden" name="ticketTitle", value=`${ticket.title}`)
                      button(class="move right" disabled=ticket.status === testBoard.columns[5].title)=">"
                  p(class="priority")=`P${ticket.priority}`
        else
          td
