extends layout
block main
  form(class="fade-in" action="/ticket/create", method="post")
    fieldset
      dl
        dt
          label(for="title" id="ticket-title")
        dd
          input(type="text" name="title" id="ticket-title-input" placeholder="Enter ticket title here . . .")
      label(for="status") 
      select(name="status")
        option(value=`${statuses.todo}` default)=testBoard.columns[0].title
        option(value=`${statuses.inProgress}`)=testBoard.columns[1].title
        option(value=`${statuses.review}`)=testBoard.columns[2].title
        option(value=`${statuses.testing}`)=testBoard.columns[3].title
        option(value=`${statuses.monitoring}`)=testBoard.columns[4].title
        option(value=`${statuses.done}`)=testBoard.columns[5].title
      dl
        dt
          label(for="description") Description:
        dd
          textarea(name="description") 
      label(for="priority")
      select(name="priority")
        option(default value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
      input(type="submit" value="Create ticket" class="submit")
  a(href="/dashboard")
    button(class="cancel-btn") X